fastapi
uvicorn
sqlalchemy
psycopg2
psycopg2-binary
asyncpg
passlib
python-dotenv
greenlet
bcrypt
langchain
langchain_ollama
langchain_chroma
langchain-community
langchain_experimental
uuid
beautifulsoup4
pydantic==2.9.2
sentence-transformers